.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav__list {
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;
}

.nav__item {
  display: inline;
  margin-left: 20px;
  position: relative;
}

.nav__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  border: 2px solid black;
  padding: 5px;
  position: relative;
  transition: 0.5s;
}

.nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  transition: 0.5s;
  z-index: -1;
}

.nav__link_dark {
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid white;
  padding: 5px;
  position: relative;
  z-index: 1;
}

.nav__link_dark:hover {
  color: black;
}

.nav__link_dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}

.nav__link_dark:hover::before {
  width: 100%;
}

.nav__link:hover::before {
  width: 100%;
}

.nav__link:hover {
  color: white;
}

.nav__button {
  cursor: pointer;
  border: 2px solid black;
  padding: 5px;
  z-index: 1;
  position: relative;
  transition: 0.5s;
}

.nav__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  transition: 0.5s;
  z-index: -1;
}

.nav__button:hover {
  color: white;
}

.nav__button:hover::before {
  width: 100%;
}
.nav__button_dark {
  cursor: pointer;
  border: 2px solid white;
  padding: 5px;
  z-index: 1;
  position: relative;
  background: transparent;
  color: white;
  transition: 0.5s;
}

.nav__button_dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: 0.5s;
  z-index: -1;
}

.nav__button_dark:hover {
  color: black;
}

.nav__button_dark:hover::before {
  width: 100%;
}

@media screen and (max-width: 505px) {
  .nav {
    display: flex;
    flex-direction: row;
  }

  .nav__list {
    row-gap: 10px;
  }

  .nav__item:last-child {
    padding-right: 0;
  }

  .nav__item {
    font-size: 1.2rem;
    margin: 0;
    padding-right: 10px;
  }

  .nav__button {
    margin-top: 20px;
  }
}
