.section__container {
  margin-top: 80px;
}

.section__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 240, 241, 1);
  animation: showRight 3s ease forwards;
  animation-delay: 0.4s;
  z-index: 2;
}

.section__heading {
  height: 150px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.section__heading_header {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  padding: 0;
}

.section__text {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif, Arial;
  font-weight: 300;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  padding: 0 20px;
}

.section__text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 240, 241, 1);
  animation: showRight 1s ease forwards;
  animation-delay: 0.5s;
}

@media screen and (max-width: 915px) {
  .section__heading {
    height: 100%;
  }

  .section__text {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  .section__heading {
    height: 100%;
  }

  .section__text {
    font-size: 1.2rem;
  }
}
