.footer {
  margin: 50px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 26px;
  font-weight: 400;
  color: black;
  text-align: center;
  width: 100%;
}

.footer__date {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: black;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .footer {
    margin-top: 0;
  }
}
