@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/Card/Card.css);
@import url(../blocks/Header/Header.css);
@import url(../blocks/Section/Section.css);
@import url(../blocks/About/About.css);
@import url(../blocks/Footer/Footer.css);
@import url(../blocks/Modal/Modal.css);
@import url(../blocks/Form/Form.css);
@import url(../blocks/Nav/Nav.css);

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1440px;
  flex-direction: column;
  background: rgba(236, 240, 241, 1);
  /* background: linear-gradient(
    0deg,
    rgba(236, 240, 241, 1) 0%,
    rgba(236, 240, 241, 1) 1%,
    rgba(236, 240, 241, 1) 11%
  ); */
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif, Arial;
  font-size: 1.5rem;
  overflow-x: hidden;
  transition: 0.5s;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

/* Logo background color rgba(52, 50, 48, 1) */

body.night-mode {
  background: #333;
  color: #f5f5f5;
}

.night-mode .header {
  background-color: #333;
  border-bottom: 1px solid #f5f5f5;
  transition: 0.5s;
}

.night-mode .header__nav .nav__item .nav__link,
.night-mode .header__nav .nav__item .nav__button {
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  transition: 0.5s;
}

.night-mode .main__text,
.night-mode .card__title,
.night-mode .card__text,
.night-mode .about__text,
.night-mode .footer__text,
.night-mode .footer__date {
  color: #f5f5f5;
}

.night-mode .card__front,
.night-mode .card__back {
  background-color: #333;
  border: 1px solid #f5f5f5;
}
