@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/Card/Card.css);
@import url(../blocks/Header/Header.css);
@import url(../blocks/Main/Main.css);
@import url(../blocks/About/About.css);
@import url(../blocks/Footer/Footer.css);
@import url(../blocks/Modal/Modal.css);
@import url(../blocks/Form/Form.css);

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1440px;
  flex-direction: column;
  background: rgba(236, 240, 241, 1);
  background: linear-gradient(
    0deg,
    rgba(236, 240, 241, 1) 0%,
    rgba(236, 240, 241, 1) 1%,
    rgba(236, 240, 241, 1) 11%
  );
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif, Arial;
  font-size: 1.5rem;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}
