.header {
  margin: 40px 0 0;
}

.header__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 192px;
  height: 192px;
}

.header__nav {
  display: flex;
  flex-direction: row;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline;
  margin-left: 20px;
}
